* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-full-stopwatch {
  position: relative;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Oswald", sans-serif;
}

.icon {
  position: absolute;
  height: 150px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: welcome-icon 1s forwards ease;
  animation-delay: 1.5s;
}

.label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  animation: welcome-label 1.5s forwards ease;
  animation-delay: 1.5s;
  height: 100px;
}

@keyframes welcome-icon {
  0% {
  }
  100% {
    top: 0%;
    left: 20%;
    transform: translate(0%, 0%);
    height: 100px;
  }
}

@keyframes welcome-label {
  100% {
    top: 0%;
    transform: translate(0%, 0%);
  }
}

.container-stopwatch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45vh;
  opacity: 0;
  top: 50%;
  padding: 20px;
  animation: active 2s forwards ease;
  animation-delay: 2s;
  transform: translateY(-50%);
}

@keyframes active {
  100% {
    opacity: 1;
  }
}
.timer {
  width: 320px;
  margin-left: 50%;
  margin: auto;
  font-size: 72px;
}
.panel {
  margin: 20px auto;
  width: 320px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

img.btn.hidden {
  display: none;
}

img.btn {
  cursor: pointer;
  height: 50px;
  animation: showBtn 0.5s forwards ease;
  opacity: 0;
  transform: scale(0.8);
}
@keyframes showBtn {
  0% {
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

img.btn.start,
img.btn.reset {
  height: 80px;
  margin: auto;
}

ul.loop {
  margin-top: 25vh;
  min-height: 25vh;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.5s all ease;
  list-style: none;
}

ul.loop.active {
  transform: translateY(0);
}

ul.loop li {
  font-size: 1rem;
  text-align: center;
  transition: 2s all ease;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.7s forwards ease;
}

@keyframes slideUp {
  0% {
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ul.loop li span.counter {
  font-size: 0.7rem;
  font-style: italic;
}
