* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/bg.jpg);
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.container-full-stopwatch {
  position: relative;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Oswald", sans-serif;
}

.welcome {
  position: relative;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  margin: auto;
  z-index: 0;
}
.icon {
  position: absolute;
  height: 150px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: welcome-icon 1s forwards ease;
  animation-delay: 1.5s;
}

@keyframes welcome-icon {
  0% {
  }
  100% {
    top: 0%;
    left: 0;
    transform: translate(0%, 0%);
    height: 100px;
  }
}

.label {
  position: absolute;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  animation: welcome-label 1.5s forwards ease;
  animation-delay: 1.5s;
}

@keyframes welcome-label {
  100% {
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
  }
}

.container-stopwatch {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 45vh;
  opacity: 0;
  left: 50%;
  top: 50%;
  animation: active 2s forwards ease;
  animation-delay: 2s;
  transform: translate(-50%, -50%);
}

.container-stopwatch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes active {
  100% {
    opacity: 1;
  }
}
.timer {
  width: 330px;
  margin-left: 50%;
  margin: 0 auto;
  font-size: 72px;
  color: black;
  z-index: 999;
  padding-left: 10px;
}
.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: 20px auto;
  text-align: center;
}

img.btn.hidden {
  display: none;
}

img.btn {
  cursor: pointer;
  height: 50px;
  animation: showBtn 0.5s forwards ease;
  opacity: 0;
  transform: scale(0.8);
}
@keyframes showBtn {
  0% {
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

img.btn.start,
img.btn.reset {
  height: 80px;
  margin: auto;
}

ul.loop {
  position: absolute;
  width: 80%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 100%);
  transition: 0.5s all ease;
  list-style: none;
}

ul.loop.active {
  display: block !important;
  transform: translate(-50%, -220px);
  border-top: 10px solid greenyellow;
  border-left: 1px solid greenyellow;
  border-right: 1px solid greenyellow;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, greenyellow, transparent);
}

ul.loop li {
  font-size: 1rem;
  text-align: center;
  transition: 2s all ease;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.7s forwards ease;
}

@keyframes slideUp {
  0% {
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

ul.loop li span.counter {
  font-size: 0.7rem;
  font-style: italic;
}

@media (min-width: 576px) and (orientation: landscape) {
  .icon {
    height: 80px;
  }

  @keyframes welcome-icon {
    0% {
    }
    100% {
      top: 0%;
      left: 0;
      transform: translate(0%, 0%);
      height: 80px;
    }
  }

  .label {
    height: 80px;
  }

  .container-stopwatch {
    width: 70%;
    top: 50%;
    height: 50vh;
  }

  .panel {
    width: 50%;
    height: 90px;
    margin: 0;
  }
  img.btn.start,
  img.btn.reset {
    height: 40px;
  }
  img.btn {
    height: 30px;
  }
  ul.loop {
    width: 60%;
  }
  ul.loop.active {
    transform: translate(-50%, -110px);
  }
}

@media (min-width: 768px) {
  .welcome {
    width: 70%;
  }
  .icon {
    height: 150px;
  }
  .container-stopwatch {
    top: 50%;
    width: 80%;
  }

  .timer {
    width: 580px;
    padding-left: 10px;
    font-size: 8rem;
  }

  .panel {
    width: 90%;
    height: 140px;
    margin: 20px auto;
  }

  img.btn.start,
  img.btn.reset {
    height: 140px;
  }

  img.btn {
    height: 80px;
  }
  ul.loop.active {
    width: 65%;
    transform: translate(-50%, -330px);
  }
  ul.loop li {
    font-size: 1.8rem;
  }

  ul.loop li span.counter {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container-stopwatch {
    top: 40%;
    width: 70%;
  }
  .timer {
    width: 520px;
    padding-left: 10px;
    font-size: 7rem;
  }

  .panel {
    width: 90%;
    height: 100px;
    margin: 20px auto;
  }

  img.btn.start,
  img.btn.reset {
    height: 100px;
  }

  img.btn {
    height: 60px;
  }
  ul.loop.active {
    transform: translate(-50%, -320px);
  }
}

@media (min-width: 1280px) {
  .panel {
    width: 50%;
    height: 80px;
  }

  img.btn.start,
  img.btn.reset {
    height: 80px;
  }

  img.btn {
    height: 60px;
  }
  ul.loop.active {
    width: 55%;
    transform: translate(-50%, -420px);
  }
}

@media (min-width: 1440px) {
  body {
    overflow: hidden;
  }
  .welcome {
    width: 50%;
  }
  .container-stopwatch {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  .container-stopwatch.loop-list {
    width: 50%;
    transform: translate(-70%, -50%);
  }

  ul.loop {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 800px;
    height: 400px;
    transform: translate(150%, -50%);
    transition: 0.4s all ease-out;
    list-style: none;
    border-radius: 20px 0 0 20px;
  }

  ul.loop.active {
    border-top: 1px solid greenyellow;
    border-left: 10px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(to right, greenyellow, transparent);

    width: 800px;
    height: 400px;
    transform: translate(10%, -50%);
    overflow: auto;
  }
}
