* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}
.icon {
  position: absolute;
  height: 150px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: welcome-icon 1s forwards ease;
  /* animation-delay: 1.5s; */
}
.label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  animation: welcome-label 1.5s forwards ease;
  /* animation-delay: 1.5s; */
  height: 100px;
}

@keyframes welcome-icon {
  0% {
  }
  100% {
    top: 0%;
    left: 20%;
    transform: translate(0%, 0%);
    height: 100px;
  }
}

@keyframes welcome-label {
  100% {
    top: 0%;
    transform: translate(0%, 0%);
  }
}

.container-stopwatch {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  padding: 20px;
  animation: active 2s forwards ease;
  /* animation-delay: 2s; */
}

@keyframes active {
  100% {
    display: flex;
    opacity: 1;
  }
}
.timer {
  margin: 20px auto;
  font-size: 84px;
}
.panel {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
}

img.btn.hidden {
  display: none;
}
img.btn {
  cursor: pointer;
  height: 50px;
}
img.btn.start {
  height: 80px;
}

ul.loop {
  margin: 20px auto;
}
